In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("../data/raw/1310076501_databaseLoadingData.csv")
data

,REF_DATE,GEO,DGUID,Age group,Sex,Domains,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2019,Canada,2011A000011124,"Total, 5 to 17 years",Both sexes,Seeing,Number of persons,Number,223,units,0,v1200113301,1.1.1.1.1,27100.00,NaN,NaN,NaN,0
1,2019,Canada,2011A000011124,"Total, 5 to 17 years",Both sexes,Seeing,Percent,Percent,239,units,0,v1200113304,1.1.1.1.4,0.54,NaN,NaN,NaN,2
2,2019,Canada,2011A000011124,"Total, 5 to 17 years",Both sexes,Hearing,Number of persons,Number,223,units,0,v1200113307,1.1.1.2.1,8500.00,NaN,NaN,NaN,0
3,2019,Canada,2011A000011124,"Total, 5 to 17 years",Both sexes,Hearing,Percent,Percent,239,units,0,v1200113310,1.1.1.2.4,0.17,NaN,NaN,NaN,2
4,2019,Canada,2011A000011124,"Total, 5 to 17 years",Both sexes,Walking,Number of persons,Number,223,units,0,v1200113313,1.1.1.3.1,47000.00,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2019,Canada,2011A000011124,12 to 17 years,Females,Anxiety,Percent,Percent,239,units,0,v1200114042,1.3.3.12.4,7.20,NaN,NaN,NaN,2
248,2019,Canada,2011A000011124,12 to 17 years,Females,Depression,Number of persons,Number,223,units,0,v1200114045,1.3.3.13.1,22100.00,NaN,NaN,NaN,0
249,2019,Canada,2011A000011124,12 to 17 years,Females,Depression,Percent,Percent,239,units,0,v1200114048,1.3.3.13.4,1.98,NaN,NaN,NaN,2
250,2019,Canada,2011A000011124,12 to 17 years,Females,Functional difficulties in at least one domain,Number of persons,Number,223,units,0,v1200114051,1.3.3.14.1,141900.00,NaN,NaN,NaN,0
251,2019,Canada,2011A000011124,12 to 17 years,Females,Functional difficulties in at least one domain,Percent,Percent,239,units,0,v1200114054,1.3.3.14.4,12.80,NaN,NaN,NaN,2

In [5]:
data.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Age group', 'Sex', 'Domains',
       'Characteristics', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID',
       'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED',
       'DECIMALS'],
      dtype='object')

In [15]:
data_col_clean = data.drop(['REF_DATE', "GEO", "DGUID", "UOM_ID", "SCALAR_FACTOR", "SCALAR_ID", "VECTOR", "COORDINATE", "STATUS", "SYMBOL", 'TERMINATED', 'DECIMALS'], axis=1)
#deleted multiple columns

In [16]:
data_col_clean

,Age group,Sex,Domains,Characteristics,UOM,VALUE
0,"Total, 5 to 17 years",Both sexes,Seeing,Number of persons,Number,27100.00
1,"Total, 5 to 17 years",Both sexes,Seeing,Percent,Percent,0.54
2,"Total, 5 to 17 years",Both sexes,Hearing,Number of persons,Number,8500.00
3,"Total, 5 to 17 years",Both sexes,Hearing,Percent,Percent,0.17
4,"Total, 5 to 17 years",Both sexes,Walking,Number of persons,Number,47000.00
...,...,...,...,...,...,...
247,12 to 17 years,Females,Anxiety,Percent,Percent,7.20
248,12 to 17 years,Females,Depression,Number of persons,Number,22100.00
249,12 to 17 years,Females,Depression,Percent,Percent,1.98
250,12 to 17 years,Females,Functional difficulties in at least one domain,Number of persons,Number,141900.00
251,12 to 17 years,Females,Functional difficulties in at least one domain,Percent,Percent,12.80

In [8]:
data_columnscleaned['Age group'].value_counts() #shows 3 categories, 84 total --consider removing rows of totals

Total, 5 to 17 years    84
5 to 11 years           84
12 to 17 years          84
Name: Age group, dtype: int64

In [9]:
sorted(list(data.columns))

['Age group',
 'COORDINATE',
 'Characteristics',
 'DECIMALS',
 'DGUID',
 'Domains',
 'GEO',
 'REF_DATE',
 'SCALAR_FACTOR',
 'SCALAR_ID',
 'STATUS',
 'SYMBOL',
 'Sex',
 'TERMINATED',
 'UOM',
 'UOM_ID',
 'VALUE',
 'VECTOR']

In [10]:
# n_by_state = df.groupby("state")["last_name"].count()
# n_by_state.head(10)

In [17]:
data_columnscleaned.shape

(252, 7)

In [18]:
data_columnscleaned.describe()

              VALUE   DECIMALS
count     250.00000  252.00000
mean    31828.61300    1.00000
std     70459.52072    1.00199
min         0.12000    0.00000
25%         1.76250    0.00000
50%      1450.00000    1.00000
75%     32150.00000    2.00000
max    657100.00000    2.00000

In [24]:
data.dtypes

REF_DATE             int64
GEO                 object
DGUID               object
Age group           object
Sex                 object
Domains             object
Characteristics     object
UOM                 object
UOM_ID               int64
SCALAR_FACTOR       object
SCALAR_ID            int64
VECTOR              object
COORDINATE          object
VALUE              float64
STATUS              object
SYMBOL             float64
TERMINATED         float64
DECIMALS             int64
dtype: object

In [11]:
data_columnscleaned.groupby('Domains').count() #suggested by prof to try out
#can see

,Age group,Sex,Characteristics,UOM,VALUE,DECIMALS
Domains,,,,,,
Accepting change,18,18,18,18,18,18
Anxiety,18,18,18,18,18,18
Communication,18,18,18,18,18,18
Concentrating,18,18,18,18,18,18
Controlling behaviour,18,18,18,18,18,18
Depression,18,18,18,18,18,18
Functional difficulties in at least one domain,18,18,18,18,18,18
Hearing,18,18,18,18,16,18
Learning,18,18,18,18,18,18
Making friends,18,18,18,18,18,18
Remembering,18,18,18,18,18,18
Seeing,18,18,18,18,18,18
Self-care,18,18,18,18,18,18
Walking,18,18,18,18,18,18